<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricco.qgzone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".CheckFriendActivity" />
        <!-- adjustPan用于使软键盘不闪退 -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".NewAlbumActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".UpLoadPhotoActivity" />
        <activity
            android:name=".ViewPhotoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name=".MsgBoardActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".TalkPubActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".WriteMsgBoardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ImageDetailActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".FriendTalkPubActivity" />

        <activity android:name=".ApplyFriendActivity" />
        <activity android:name=".FirstActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".InfoActivity" />
        <activity android:name=".LoginSignActivity" />
        <activity android:name=".EditInfoActivity" />
        <activity android:name=".PerTalkActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".DetailsActivity" />
    </application>

</manifest>